<p>
  <strong>Name:</strong>
  <%= user_name %>
</p>

<p>
  <strong>Employee Id:</strong>
  <%= user_id %>
</p>

<p>
  <strong>Email:</strong>
  <%= user_email %>
</p>

<p>
  <strong>Role:</strong>
  <%= user_role.capitalize %>
</p>