// Place all the styles related to the Login controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.github-login{
  position: absolute;
  top: 38%;
  left: 38%;
}

.signup-modal{
  width: 400px !important;
}